apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
  namespace: estudos
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: estudos
spec:
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:15
        ports: [{containerPort: 5432}]
        env:
        - name: POSTGRES_DB
          valueFrom: {secretKeyRef: {name: app-secrets, key: DB_NAME}}
        - name: POSTGRES_USER
          valueFrom: {secretKeyRef: {name: app-secrets, key: DB_USER}}
        - name: POSTGRES_PASSWORD
          valueFrom: {secretKeyRef: {name: app-secrets, key: DB_PASSWORD}}
        volumeMounts:
        - mountPath: /var/lib/postgresql/data
          name: pg-data
      volumes:
      - name: pg-data
        persistentVolumeClaim:
          claimName: postgres-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-db
  namespace: estudos
spec:
  ports: [{port: 5432}]
  selector:
    app: postgres
  type: ClusterIP