apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: estudos
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      initContainers:
      - name: migrate
        image: phenriquernagel/banco-questoes-backend:v2
        command: ["python", "manage.py", "migrate"]
        envFrom:
        - secretRef:
            name: app-secrets
      containers:
      - name: backend
        image: phenriquernagel/banco-questoes-backend:v2
        ports:
        - containerPort: 8000
        envFrom:
        - secretRef:
            name: app-secrets
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: estudos
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
  type: NodePort