apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: estudos
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: phenriquernagel/banco-questoes-frontend:v23
        imagePullPolicy: Always
        ports: [{containerPort: 80}]
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: estudos
spec:
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: NodePort